image: docker:24.0.7

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - prepare_images
  - setup_applications
  - check_status
  - test
  - teardown_applications

prepare_images:
  stage: prepare_images
  script:
    - docker build -t sample .
    - docker build -f TestDockerfile -t test .

setup_applications:
  stage: setup_applications
  script:
    - docker compose -f docker-compose.yml up -d

check_status:
  stage: check_status
  script:
    - docker inspect sample
    - docker inspect mongo
    - hostname
    - docker ps -a

test:
  stage: test
  script:
    - docker run --name test-runner --network=mynetwork test
    - docker cp test-runner:/app/coverage ./coverage
  dependencies:
    - prepare_images
  artifacts:
    when: always
    paths:
      - coverage/
  after_script:
    - docker rm -f test-runner || true

teardown_applications:
  stage: teardown_applications
  script:
    - docker compose -f docker-compose.yml down
